@import url("https://api.fontshare.com/v2/css?f[]=sentient@200,201,300,301,400,401,500,501,700,701&f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Satoshi", sans-serif;
}

html {
  scroll-behavior: smooth;
}
